.leftside img
{
  float: left;
  width: 215px;
  height: 139px;
  padding-left: 106px;
  padding-top: 50px;
  display: inline;
}

.rightside
{
  padding-top: 35px;
  width: 50%;
  text-align: justify;
  font-weight: lighter;
  line-height: 25px;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  color: #685b5b;
}
