@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body
{
	margin:0;
	padding:0;
}

.container
{
	margin:0 auto;
	width:1024px;
}
header .banner
{
	width:100%;
	height:350px;
}
nav
{
	position:relative;
	background-color:#033029;
	padding:10px;
}
nav ul
{
	position:absolute;
	top:25;
	right:35;
	
}

nav ul li
{
	float:left;
	list-style-type:none;
}
nav ul li a
{
	padding:20px 30px;
	text-decoration:none;
	color:#22e9d2;
	
}

.para img 
{
	width:250px;
	padding:5x;
	border:1px solid grey
	padding:50;
	width:100%;
	height:40%;
}

.para1 h1
{
	text-align:center;
}

.para h1
{
	color:#22e9d2;
}

.leftside
{
	width:40%;
	float:left;
	padding-right:10%;
}
.rightside
{
	width:40%;
	float:left;
	padding-left:10%;
}

.side-4
{
	width:27.33%;
	float:left;
	padding:3%;
}

footer .banner 
{
	width:100%;
	height:350px;
	color:#22e9d2;
	
}

.para1 .col1
{
		min-height:50px;
		float:left;
		width:27.33%;
		padding:3%;
}

.para1 .col2
{
		min-height:50px;
		float:left;
		width:27.33%;
		padding:3%;
}

.para1 .col3
{
		min-height:50px;
		float:left;
		width:27.33%;
		padding:3%;
	
}





